$colors: (
    common: (
        white: #ffffff,
        white-2: #BDBEEC,
        black: #151718,
        yellow: #FDC85D,
        sky: #45CCFE,
        sky-2: #3EB7FD,
        pink: #F85797,
    ),
    heading: (
        primary: #141774,
    ),
    grey: (
        1:#BDBEEC,
        2:#E8F6FF,
    ),
    text: (
        body:#62637D,
    ),
    theme: (
        1: #141774,
        2: #017EFA,
        3: #0B4DF5,
    ),
    border: (
        1:#EDF5FA,
        2:#DCEDF9,
        3:#2C2F94,
        4:#DCEDF9,
    )
);

